extends: default

rules:
  document-start: disable  # Disable checking for missing '---'
  braces:
    max-spaces-inside: 1  # Allow up to one space inside braces
  indentation:
    spaces: 2  # Set indentation to 2 spaces
  new-line-at-end-of-file: disable  # Disable checking for new line at end of file
  comments:
    min-spaces-from-content: 1  # Require at least one space before comments