extends: default

rules:
  document-start: disable  # Disable checking for missing '---'
  braces:
    max-spaces-inside: 1  # Allow up to one space inside braces
  indentation:
    spaces: 2  # Set indentation to 2 spaces
    level: warning  # Set indentation issues to warning level
  new-line-at-end-of-file: disable  # Disable checking for new line at end of file
  comments:
    min-spaces-from-content: 1  # Require at least one space before comments
  line-length:
    max: 120  # Increase the maximum line length to 120 characters
    level: warning  # Set the level to warning instead of error
  trailing-spaces:
    level: warning  # Warn about trailing spaces instead of error
  empty-lines:
    max: 2  # Allow up to 2 consecutive empty lines
    level: warning  # Set the level to warning instead of error
  truthy:
    allowed-values: ["true", "false"]  # Allow 'true' and 'false' as boolean values
  colons:
    max-spaces-before: 0  # No spaces before colons
    max-spaces-after: 1  # One space after colons
  quoted-strings:
    required: false  # Disable enforcing quoted strings
  document-end: disable  # Disable checking for document end marker