debug: false

redis:
  host: "{{ .Release.Name }}-redis"
  imageTag: 7.0.5-alpine

influx:
  host: "{{ .Release.Name }}-influxdb"
  imageTag: 2.5.0

postgres:
  host: "{{ .Release.Name }}-postgres"
  imageTag: 15.1
  port: 5432
  username: postgres
  password: postgres
  maxConnections: 315 # setting to 315, since 15 are saved for internal use. 200 are for Analytics, 50 are for digma, and 50 for plugin backend
  maxMemory: 2048MB # mapped to shared_buffers

rabbitMq:
  imageTag: 3.11.2-management-alpine
  host: "{{ .Release.Name }}-rabbitmq"
  username: admin
  password: admin

pgadmin:
  host: "{{ .Release.Name }}-pgadmin"
  email: admin@admin.com
  password: admin

kibana:
  host: "{{ .Release.Name }}-kibana"

redisCommander:
  host: "{{ .Release.Name }}-redis-commander"

elasticApmServer:
  host: "{{ .Release.Name }}-apm"

elasticsearch:
  host: "{{ .Release.Name }}-elasticsearch"

digmaCollectorApi:
  host: "{{ .Release.Name }}-collector-api"
  expose: false
  cpuLimit: 200m

digmaPluginApi:
  host: "{{ .Release.Name }}-plugin-api"
  expose: true
  secured: true
  accesstoken: 
  cpuLimit: 200m

digmaAnalytics:
  host: "{{ .Release.Name }}-analytics"
  cpuLimit: 200m

digmaInsightAnalysis:
  cpuLimit: 200m

digmaMeasurementAnalysis:
  cpuLimit: 200m

digmaSelfDiagnosis:
  # directing to Meloona (Dogfooding center)
  otlpExporterEndpoint: "http://a5c491ca899484231ac1e238dffc6b59-1941698795.eu-west-1.elb.amazonaws.com:4317/"
  otlpSamplerProbability: "0.3"
digma:
  environmentName: 
  siteName: undefined
