debug: false

deploymentType: Helm
exposeInternalErrorDetails: false

traceCollectorThresholds:
  recentActivityUpdateThresholdSeconds: 5
  upsertEndpointThresholdSeconds: 5
  upsertSpansThresholdSeconds: 5
  upsertSpanFlowMetadataThresholdSeconds: 5

kafka:
  host: "{{ .Release.Name }}-kafka"
  imageTag: 3.5.1
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 500Mi,
      cpu: 500m
    }
  }
  
redis:
  host: "{{ .Release.Name }}-redis"
  imageTag: 7.0.5-alpine
  resources: {
    requests: {
      memory: 100Mi,
      cpu: 200m
    },
    limits: {
      memory: 800Mi,
      cpu: 500m
    }
  }

influx:
  host: "{{ .Release.Name }}-influxdb"
  imageTag: 2.7.1
  resources: {
    requests: {
      memory: 2Gi,
      cpu: 500m
    },
    limits: {
      memory: 4Gi,
      cpu: 2000m
    }
  }
  config: 
    queryConcurrency: 15
    queryQueueSize: 200
    

postgres:
  host: "{{ .Release.Name }}-postgres"
  imageTag: 15.1
  port: 5432
  username: postgres
  password: postgres
  maxConnections: 315 # setting to 315, since 15 are saved for internal use. 200 are for Analytics, 50 are for digma, and 50 for plugin backend
  maxMemory: 800MB # mapped to shared_buffers
  resources: {
    requests: {
      memory: 600Mi,
      cpu: 400m
    },
    limits: {
      memory: 1300Mi,
      cpu: 800m
    }
  }

rabbitMq:
  imageTag: 3.11.2-management-alpine
  host: "{{ .Release.Name }}-rabbitmq"
  username: admin
  password: admin
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 500Mi,
      cpu: 500m
    }
  }

pgadmin:
  host: "{{ .Release.Name }}-pgadmin"
  email: admin@admin.com
  password: admin

embeddedJaeger:
  host: "{{ .Release.Name }}-embedded-jaeger"
  imageTag: "1.44.0"
  enabled: false

kibana:
  host: "{{ .Release.Name }}-kibana"

redisCommander:
  host: "{{ .Release.Name }}-redis-commander"

elasticApmServer:
  host: "{{ .Release.Name }}-apm"

elasticsearch:
  host: "{{ .Release.Name }}-elasticsearch"

digmaCollectorApi:
  host: "{{ .Release.Name }}-collector-api"
  expose: false
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 500Mi,
      cpu: 400m
    }
  }

digmaCollectorWorker:
  host: "{{ .Release.Name }}-collector-worker"
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 800Mi,
      cpu: 700m
    }
  }

digmaAnalytics:
  host: "{{ .Release.Name }}-analytics"
  expose: true
  secured: true
  accesstoken:
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 800Mi,
      cpu: 800m
    }
  }

digmaScheduler:
  host: "{{ .Release.Name }}-scheduler"
  resources: {
    requests: {
      memory: 300Mi,
      cpu: 200m
    },
    limits: {
      memory: 1000Mi,
      cpu: 800m
    }
  }

digmaInsightAnalysis:
  resources: {
    requests: {
      memory: 200Mi,
      cpu: 200m
    },
    limits: {
      memory: 300Mi,
      cpu: 300m
    }
  }

digmaMeasurementAnalysis:
  resources: {
    requests: {
      memory: 200Mi,
      cpu: 200m
    },
    limits: {
      memory: 300Mi,
      cpu: 300m
    }
  }

digmaSelfDiagnosis:
  # directing to Meloona (Dogfooding center)
  otlpExportTraces: false
  otlpExportMetrics: false
  otlpExportLogs: false
  otlpExporterEndpoint: 
  otlpSamplerProbability: "0.3"
digma:
  environmentName: 
  siteName: undefined
